<ion-view>
	<ion-content>
		<div class="list card">
	  		  <a href="#/tab/menu/practice/exampaper/1" class="item item-icon-left">
	    		<i class="icon ion-home"></i>
	    		试卷一
	  		  </a>
			  <a href="#/tab/menu/practice/exampaper/2" class="item item-icon-left">
			    <i class="icon ion-ios-telephone"></i>
			    试卷二
			  </a>
			  <a href="#/tab/menu/practice/exampaper/3" class="item item-icon-left">
			    <i class="icon ion-card"></i>
			    试卷三
			  </a>
			  <a href="#/tab/menu/practice/exampaper/4" class="item item-icon-left">
			    <i class="icon ion-card"></i>
			    试卷四
			  </a>
			</div>
	</ion-content>
</ion-view>