<!--左侧边栏
  包括登陆，设置，关于等
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{appName}}欢迎使用</h1>
    </ion-header-bar>
    <ion-content class="has-footer">
      <ion-list>
        <ion-item menu-close ng-click="login()" class="item-avatar" ng-if="!isAuthenticated" style="border:0px; background:#387ef5">
          <img src="img/avatar/notlogin.png">
          <h4>登录</h4>
          <p>暂无个人说明</p>
        </ion-item>
        <ion-item menu-close ng-click="login()" class="item-avatar" ng-if="isAuthenticated" style="border:0px; background:#387ef5;">
          <img ng-src="{{user.avatar == null ? 'img/avatar/notlogin.png' : 'img/avatar/' + user.avatar}}">
          <h4 style="color:white;">欢迎您</h4>
          <p style="color:white;">{{user.nickname != null && user.nickname != 'null' ? user.nickname : user.username}}</p>
          <p style="color:white;">{{user.detail}}</p>
          <!-- <p style="color:white;">新人</p> -->
          <p style="color:white;">排名 {{rank == 0 || rank == null? '暂无排名' : rank+1}}</p>
        </ion-item>     
        <ion-item menu-close ng-click="rankboard()">
          排行榜
        </ion-item>   
        <ion-item menu-close ng-click="goLibMan()">
          题库管理
        </ion-item>
        <ion-item menu-close ng-click="showAbout()">
          关于
           <span class="item-note">{{appVersion}}</span>
        </ion-item>
      </ion-list>
    </ion-content>
    <!--只有android平台需要退出-->
    <ion-footer-bar class="bar" ng-if="isAndroid">
      <div class="buttons">
        <button class="button button-assertive" ng-click="exit()"><i class="icon ion-log-out"></i>退出</button>
      </div>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
