<ion-view view-title="章节练习">
  <ion-content class="padding">
     <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.chapters"
                    ng-show="isGroupShown(group)"
                    ng-href="#/tab/menu/practice/exam/{{item.id}}"
                    >
            {{item.name}}
          </ion-item>
        </div>
      </ion-list>
  </ion-content>
</ion-view>