<ion-view view-title="Dashboard"> <ion-content
	class="padding">
<h2>欢迎使用</h2>
<h2>距离2016年司法考试还有</h2>
<h2>{{daysleft}}天</h2>

<div class="list">
	<label class="item item-input item-select">
		<div class="input-label">选择试卷</div> 
		<select>
			<option>试卷1</option>
			<option selected>试卷2</option>
			<option>试卷3</option>
			<option>试卷4</option>
		</select>
	</label>
</div>
<div class="card">
  <div class="item item-text-wrap">
  	顺序学习
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
  	复习
   </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
  	随机选题
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
  	章节练习
  </div>
</div>

</ion-content> </ion-view>
