<ion-view view-title="司考宝典"> 
	<ion-content class="padding" >
		<!--广告滑动框，还不能用，需要查找方案-->
		<ion-slides options="options" slider="data.slider">
			  <ion-slide-page>
			    <div class="box blue"><h1>BLUE</h1></div>
			  </ion-slide-page>
			  <ion-slide-page>
			    <div class="box yellow"><h1>YELLOW</h1></div>
			  </ion-slide-page>
			  <ion-slide-page>
			    <div class="box pink"><h1>PINK</h1></div>
			  </ion-slide-page>
		</ion-slides>

		<div class="list card">
			  <a href="#/tab/menu/practice/chapter" class="item item-icon-left">
			    <i class="icon ion-home"></i>
			    章节练习
			  </a>
			  <a href="#/tab/menu/practice/random/1" class="item item-icon-left">
			    <i class="icon ion-ios-telephone"></i>
			    随机练习
			  </a>
			  <a href="#/tab/menu/account" class="item item-icon-left">
			    <i class="icon ion-card"></i>
			    错题强化
			  </a>
			  <a href="#/tab/menu/practice/exampaper" class="item item-icon-left">
			    <i class="icon ion-card"></i>
			    模拟考试
			  </a>
		</div>
	</ion-content> 
</ion-view>
