<ion-view view-title="登陆">
  <ion-content class="padding">
    <form name="form" novalidate>
      <div class="list list-inset">
          <label class="item item-input item-floating-label">
              <span class="input-label">账户名称</span>
              <input type="text" placeholder="账户名称" ng-model="data.username" id="username" name="username" ng-pattern="emailRegx">
          </label>
          <p class="lfb-warn" ng-if="!form.username.$valid">
            <span><i class="icon ion-ios-close"></i>请输入正确的手机号码</span>
          </p>
          <label class="item item-input item-floating-label">
              <span class="input-label">密码</span>
              <input type="password" placeholder="密码" id="password" name="password" 
                    ng-model="data.password" ng-minlength="8">
          </label>
          <p class="lfb-warn" ng-if="!form.password.$valid">
              <span><i class="icon ion-ios-close"></i>密码最少8位</span>
          </p>
      </div>
      <div class="button-bar">
        <button class="button button-stable" ng-click="signUp()" 
          ng-disabled="!form.password.$valid || !form.username.$valid">注册</button>
        <button class="button button-positive" ng-click="login()" 
          ng-disabled="!form.password.$valid || !form.username.$valid">登陆</button>
      </div>
    </form>
  </ion-content>
</ion-view>