<!--题目-->
<ion-view hide-tabs="true" view-title="测试">
<ion-nav-buttons side="right">
  <button class="button icon-right button-positive button-clear" 
        ng-class="fav ? 'ion-ios-star' : 'ion-ios-star-outline' "
        ng-click="toogleFavorite()"
        ></button>
</ion-nav-buttons>
  <ion-content class="padding has-header">
    <div class="content">
        <progress max="{{total}}" value="{{index+1}}"> </progress>
      	<h4>
      		{{question}}
      	</h4>
      	<ion-list ng-if="choices">
      		<div ng-repeat="(value, item) in choices">
            <!--单选题-->
      			<ion-radio ng-model="choiced.value" ng-value="value" icon="ion-android-radio-button-on" ng-if="type == 1">
              {{value}}. {{item.desc}}
            </ion-radio>
            <!--多选，不定项-->
            <ion-checkbox ng-model="item.checked" ng-checked="item.checked" ng-if="type == 2 || type == 3">
              {{value}}. {{item.desc}}
            </ion-checkbox>     
       		</div>
     	</ion-list>
      <!--解析-->
      <div class="content" ng-show="isShowAnalysis()">
        <div>{{validateResult}}</div>
        <div>{{answer}}</div>
        <div>{{analysis}}</div>
      </div>
      <!--解析区块完成-->

  </div>
  </ion-content>
  <ion-footer-bar>
      <div class="button-bar">
        <a class="button" ng-click="prevQuestion()" ng-disabled="index <= 0"> 上一题 </a>
        <a class="button" ng-click="validateAnswer()"> 提交 </a>
        <a class="button" ng-click="nextQuestion()" ng-disabled="index >= total-1"> 下一题 </a>
      </div>
  </ion-footer-bar>
</ion-view>