<!--题目-->
<ion-view hide-tabs="true" view-title="题目">
<ion-nav-buttons side="right">
  <button class="button icon-right button-energized button-clear" 
        ng-class="fav ? 'ion-ios-star' : 'ion-ios-star-outline' "
        ng-click="toogleFavorite()"
        ></button>
  <button class="button button-light" ng-if="isExampaper" ng-click="submitExampaper()">交卷</button>
</ion-nav-buttons>
<ion-header-bar align-title="left" class="bar bar-subheader bar-stable">
     <!-- 只有考试的时候显示倒计时 -->
      <button class="button button-clear">
          {{index+1}}. {{questionDesc}}
      </button>
      <button class="button button-calm" ng-if="isExampaper">
          <i class="icon ion-ios-alarm-outline"></i>  {{restTimeStr}}
      </button>      
 </ion-header-bar>
  <ion-content class="padding has-subheader" style="font-size:1.25em;">
    <div class="content" style="clear:both; font-size:1em;">
      <!--问题-->
      <div ng-bind-html="question | unsafe" style="margin-bottom:10px;line-height:1.5em;"></div>
      <ion-list ng-if="choices">
      		<div ng-repeat="(value, item) in choices">
            <ion-checkbox name="{{value}}" class="item-text-wrap" ng-model="item.checked" ng-checked="item.checked" ng-change="unselectOther(value)" ng-if="type == 2 || type == 3 || type == 1"  style="font-size:1em;">
              {{value}}. {{item.desc}}
            </ion-checkbox>     
       		</div>
     	</ion-list>
  </div>
    <!-- 解析之后跳到此处 -->
    <a id="analysisAnchor"></a>
        <!--解析-->
      <div class="card" ng-show="isShowAnalysis()">
        <div class="error" ng-if="!validateResult">
          <i class="icon ion-close-round"></i>
          <span>错误</span>
        </div>
        <div class="correct" ng-if="validateResult">
          <i class="icon ion-checkmark-round"></i>
          <span>正确</span>
        </div>  
          <div class="item item-text-wrap">
            <p>【答案】</p>
            <div ng-bind-html="answer | unsafe"></div>
            <p>【考点】</p>
            <div ng-bind-html="point | unsafe"></div>
            <p>【解析】</p>
            <div ng-bind-html="analysis | unsafe"></div>
          </div>
      </div>
      <!--解析区块完成-->
  </ion-content>
  <ion-footer-bar>
      <div class="button-bar">
        <a class="button button-positive" ng-click="prevQuestion()" ng-disabled="index <= 0"> {{index <= 0 ? '没有了' : '上一题' }} </a>
        <a class="button" ng-click="validateAnswer()" ng-if="!isExampaper"> 提交 </a>
        <a class="button button-positive" ng-click="nextQuestion()" ng-disabled="index >= total-1"> {{index >= total-1 ? '没有了' :'下一题' }} </a>
      </div>
  </ion-footer-bar>
</ion-view>