<ion-view view-title="章节目录">
  <!-- 在header增加一个按钮 书签，只有在book才显示-->
  <ion-nav-buttons side="right" >
    <button class="button button-small icon-left ion-bookmark button-clear"
          ng-click="bookmark()"
          ng-if="entryType == 4"
          ng-disabled = "lastRead == null"
          >
          书签
    </button>
  </ion-nav-buttons>
  <ion-content class="padding"
      delegate-handle="practiceChapterScroll"
  		on-scroll-complete="scrollComplete()">
    <!-- <ion-scroll zooming="true" direction="xy" style="width:100vw;height:100vh;"> -->
     <ion-list>
        <div ng-repeat="group in groups|filter:lawFilter">
          <ion-item class="item-stable"
                    ng-click="noSubGroup ? goEntry(group.id, 0) :toggleGroup(group)"
                    ng-if="group.name != null"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="!noSubGroup ? (isGroupShown(group) ? 'ion-android-arrow-dropdown-circle' : 'ion-android-arrow-dropright-circle') : 'ion-android-arrow-dropright-circle' "></i>
            {{group.name}}
          </ion-item>
          <ion-item class="item-light item-text-wrap"
                    ng-if="isGroupShown(group) && entryType == 1 && !noSubGroup"
                    ng-click="goEntry(group.id, 0)"
          >
            练习本书所有题目
            <span class="item-note">进入</span>
          </ion-item>
          <div class="item item-divider" ng-if="isGroupShown(group) && entryType == 1 && !noSubGroup">
            分章练习
          </div>
          <ion-item class="item-accordion item-text-wrap"
                    ng-repeat="item in group.chapters"
                    ng-if="isGroupShown(group) && !noSubGroup"
                    ng-click="goEntry(group.id, item.id)"
                    id="{{group.id}}.{{item.id}}"
                    >
                                        <!-- ng-href="#/tab/menu/practice/chpentry/{{group.id}}/{{item.id}} " -->
            {{item.name}}
          </ion-item>
        </div>
      </ion-list>
    <!-- </ion-scroll>       -->
  </ion-content>
</ion-view>
