<ion-view view-title="关于">
	<ion-content>
		<div class="tabdesc" style="display:flex;align-items:center;justify-content:center;flex-direction:column">
				<img src="/img/icon.jpg" style="display:block; width:100px;height:100px;"></img>
				<p style="height:20px;display:block;margin-top:5px;font-size:15px;">{{appName}}:{{appVersion}}</p>
		</div>
		<ion-list>
			<ion-item>版权信息</ion-item>
			<ion-item><span class="item-note">www.wsikao.com</span>反馈</ion-item>
			<ion-item>合作<span class="item-note">249532343@qq.com</span></ion-item>
			<ion-item>
				版本
				<span class="item-note">{{hasNewVersion ? appVersion :'最新版本'}}</span>
			</ion-item>
		</ion-list>

	<!-- <progress max="100" value="{{progress.value}}" ng-if="false"></progress> -->

	</ion-content>
	<ion-footer-bar class="bar-clear">
    	<button class="button button-positive button-block" style="margin:0px;"
    			ng-click="downloadLibAlert()" ng-disabled="!hasNewVersion || downloading" ng-if="isAndroid">
    		{{downloadBtnText}}
    	</button>
 	</ion-footer-bar>

</ion-view>
