<ion-view view-title="搜索结果">
  <ion-content class="padding has-tabs-top">
    <!-- <div class="list" style="height:7vh">
      <div class="item-input">
        <label class="item-input-wrapper">
          <input type="text" placeholder="搜索题目，法规，书籍" ng-model="data.keyword">
        </label>
        <button class="button button-positive button-small" ng-click="search(0)">
          搜 索
        </button>
      </div>
    </div> -->
    <ion-list>
      <ion-item class="item-text-wrapper" ng-repeat="item in results" ng-click="detailResult(item)">
        <p ng-if="item.meta1 != null">{{item.meta1}}</p>
        <p ng-if="item.meta2 != null">{{item.meta2}}</p>
        <p ng-if="item.meta3 != null">{{item.meta3}}</p>
        <p class="searchresult" ng-bind-html="item.result | unsafe"></p>
      </ion-item>
    </ion-list >
    <!-- 上拉加载 -->
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="noMoreData()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
