<ion-view view-title="选择试卷">
	<ion-content scroll="false">
<!-- 		<div class="spinner" ng-if="generatingExampaper">
  			<ion-spinner icon="android"></ion-spinner>
		</div> -->
		<div class="list card">
	  		  <a ng-click="beginExaming(1)" class="item item-icon-left">
	    		<i class="icon ion-home"></i>
	    		试卷一
	  		  </a>
			  <a ng-click="beginExaming(2)" class="item item-icon-left">
			    <i class="icon ion-ios-telephone"></i>
			    试卷二
			  </a>
			  <a ng-click="beginExaming(3)" class="item item-icon-left">
			    <i class="icon ion-card"></i>
			    试卷三
			  </a>
			  <a ng-click="beginExaming(4)" class="item item-icon-left">
			    <i class="icon ion-card"></i>
			    试卷四
			  </a>
			</div>
	</ion-content>
</ion-view>