<ion-view view-title="{{appName}}" hide-tabs="false"> 
	<ion-content scroll="false" >
		<div class="tabdesc">
			<div class="padding" style="display:flex; flex-direction:column; height:30vh; width:100vw; align-items:center;">
				<div style="text-align:left; height:5vh; width:100%;">距离
		<span style="font-size:20px;">2016年9月17日</span>考试还有</div>
				<div style="height:60%; width:100%; text-align:center; font-size:130px; line-height:60%;">
					{{countDownDays}}
				</div>
				<div style="text-align:right; width:100%; height:5vh">天</div>
			</div>
		</div>

		<div style="height:70%; overflow:auto; padding:0px;">
			<div class="row" style="height:25%;">
				<div class="col button " style="margin:1px;" ng-click="go('outline')">
			    	<i class="icon ion-ios-list-outline" style="display:block;height:50%"></i>
					2016大纲
				</div>				
				<div class="col button " style="margin:1px;" ng-click="go('book')">
			    	<i class="icon ion-ios-book-outline" style="display:block;height:50%"></i>
					2016用书
				</div>
			</div>
			<div class="row" style="height:25%;">
				<div class="col button" style="margin:1px;" ng-click="go('point')" ng-disabled="true">
					<i class="icon ion-ios-location-outline" style="display:block;height:50%"></i>
					考点复习
				</div>
				<div class="col button " style="margin:1px;" ng-click="go('exampaper')">
					<i class="icon ion-ios-compose-outline" style="display:block;height:50%"></i>				
					模拟考试
				</div>	
			</div>
			<div class="row" style="height:25%;">
				<div class="col button " style="margin:1px;" ng-click="go('chapter')">
					<i class="icon ion-ios-copy-outline" style="display:block;height:50%"></i>					
					章节练习
				</div>
				<div class="col button " style="margin:1px; " ng-click="go('random')">
					<i class="icon ion-ios-shuffle" style="display:block;height:50%"></i>				
					随机练习
				</div>
			</div>
			<div class="row" style="height:25%;">
				<div class="col button " style="margin:1px;" ng-click="go('error')">
					<i class="icon ion-ios-close-outline" style="display:block;height:50%"></i>				
					错题强化
				</div>
				<div class="col button " style="margin:1px;" ng-click="go('favor')">
					<i class="icon ion-ios-star-outline" style="display:block;height:50%"></i>					
					收藏题目
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
