/* Empty. Add your own CSS if you like */

.tabs-messages .tab-item.tab-item-active,
.tabs-messages .tab-item.active,
.tabs-messages .tab-item.activated {
    color: #444444 !important;
}

.white-space-wrap {
  white-space: pre-wrap;
}

p.lfb-warn {
  margin-top: 5px;
  text-align: left;
}

p.lfb-warn span {
  border-radius: 5px;
  padding:5px;
  background: #ffeb99;
}

div.fb-square {
  /*vw 用来表示视窗单位*/
  width: 50vw;
  height: 50vw;
  border: 1px solid lightgrey;
  text-align: center;
}

div.fb-time{
  /*vw 用来表示视窗单位*/
  height: 35vw;
  font-size: 40px;
  text-align: center;
  line-height: 35vw;
}

div.fb-digi{
  /*vw 用来表示视窗单位*/
  height: 35vw;
  font-size: 100px;
  text-align: center;
  line-height: 35vw;
}

div.fb-header{
  /*vw 用来表示视窗单位*/
  padding: 1vw;
  height: 10vw;
  font-size: 20px;
  text-align: left;
  background: #11c1f3;
  line-height: 10vw;
}

/*加载div*/
div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 50px;
  text-align: center;
}
.spinner svg {
  width: 10% !important;
  height: 50px !important;
}

/*显示tab页介绍*/
.tabdesc {
  height: 30vh;
  width: 100%;
  margin-bottom: 5px;
  background: #11c1f3;
  clear: both;
  color : #EEEEEE;
  position: relative;
}

.result{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 100px;
}

div.score{
  margin: 10px;
}

div.questiondesc {
  padding:5px; 
  background:#F8F8F8; 
  box-shadow: 1px 1px 1px #888888; 
  width:120px;
  text-align: center;
  float: left;
}

div.timer {
  padding:5px; 
  background:#00CCFF; 
  box-shadow: 1px 1px 1px #888888; 
  width:130px;
  text-align: center;
  float: right;
}

div.error {
  padding:10px; 
  background:#FF6600; 
  box-shadow: 1px 1px 1px #888888; 
  width:70px;
  text-align: center;
}

div.correct {
  padding:10px; 
  background:#99CC33; 
  box-shadow: 1px 1px 1px #888888; 
  width:70px;
  text-align: center;
}

div.container {
    height: 100%; 
}
div.contained {
	height: 50%;
    margin: 10px;
    padding: 10px;
    background: yellow;
}

.messages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; 
}

  .messages .message {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    overflow: hidden;
    text-align: right;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.time {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 120px;
  text-align: center;
  padding: 0 0 0 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: translate3d(10px, 0, 0);
  -moz-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0); }
  .time.slide-right {
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: left; }


.message {
  display: flex;
  flex-direction: row-reverse;
}

.messages.other .message{
  display: flex;
  flex-direction: row;
}

.messages.other span {
  color: black;
  background-color: #C7C7CC; }

.message .avatar{
  width: 50;
  height: 50px;
  display: inline-block;
}

.messages.other .messagedetail{
  display: inline-block;
  max-width: 240px;
}

.message .user {
  color : lightgrey;
  max-width: 240px;
  overflow : hidden;
  height: 20px;
  font-size: 10px;
}

.message .messagebody {
  border-radius : 20px 0px / 20px 0px;
  padding : 10px;
  background-color: lightblue;
}

.messages.other .messagebody {
  border-radius : 0px 20px / 0px 20px;
  padding : 10px;
  background-color: lavender;
}